

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Blog List */
h1 {
    font-size: 32px;
    color: #FDD017;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}


a:hover {
    color: #FDD017;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

img {
    max-width: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

/* Create Blog Button */
.create-blog-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #E60100;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.create-blog-btn:hover {
    background-color: #E60100;
    color: #FDD017;
}


.button{

    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #E60100;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

a[href*="blog_create"] button {
    
    
    display: inline-block;
    margin: 10px;
    padding: 8px 16px;
    background-color: #E60100;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

a[href*="blog_create"] button:hover {
    background-color: #FDD017;
    color: #000;
}