{% extends 'base.html' %}
{% load static %}

{% block title %}Account Deletion{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'user/css/account_delete.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/base.css' %}">

{% endblock %}

{% block content %}
    <h1>Account Deletion</h1>
    <p>Are you sure you want to delete your account?</p>
    <form method="post" action="{% url 'account_delete' %}">
        {% csrf_token %}
        <input type="submit" value="Delete Account">
    </form>
{% endblock %}