<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Shoe store{% endblock %}</title>
    {% load static %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'user/css/base.css' %}">
    
{% endblock %}

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home &nbsp;&nbsp; </a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}">Dashboard &nbsp; &nbsp; </a></li>
                    <li><a href="{% url 'profile' %}">Profile &nbsp; &nbsp; </a></li>
                    <li><a href="{% url 'settings' %}">Settings &nbsp; &nbsp; </a></li>
                    <li><a href="{% url 'preferences' %}">Preferences &nbsp;  </a></li>
                    <li><a href="{% url 'account_delete' %}">&nbsp; &nbsp; Delete Account</a></li>
                    <li><a href="{% url 'logout' %}">&nbsp; &nbsp; Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Signup&nbsp; &nbsp; </a></li>
                    <li><a href="{% url 'login' %}">Login&nbsp; &nbsp; </a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p> Our Shoe store app</p> &copy; 2022</p>
    </footer>
</body>
</html>