<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Shoe store{% endblock %}</title>
    {% load static %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'user/css/base.css' %}">
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul style="list-style: none; padding: 0;">
                <li style="display: inline; margin-right: 20px;"><a href="{% url 'home' %}">Home</a></li>
                <li style="display: inline; margin-right: 20px;"><a href="{% url 'blog_list' %}">Blog</a></li>
                <li style="display: inline; margin-right: 20px;"><a href="{% url 'cart:cart_detail' %}">Cart</a></li> 
                {% if user.is_authenticated %}
                    <li style="display: inline; margin-right: 20px;"><a href="{% url 'profile' %}">Profile</a></li>
                    <li style="display: inline; margin-right: 20px;"><a href="{% url 'cart:order_list' %}">Orders</a></li> 
                    <li style="display: inline; margin-right: 20px;"><a href="{% url 'settings' %}">Settings</a></li>
                    <li style="display: inline; margin-right: 20px;"><a href="{% url 'preferences' %}">Preferences</a></li>
                    <li style="display: inline; margin-right: 20px;"><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li style="display: inline; margin-right: 20px;"><a href="{% url 'signup' %}">Signup</a></li>
                    <li style="display: inline; margin-right: 20px;"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Our Shoe store site &copy; 2023</p>
    </footer>
</body>
</html>
