{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'user/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/base.css' %}">
{% endblock %}

{% block content %}
    <div class="dashboard-container">
        <h1>Welcome to your Dashboard, {{ user.username }}!</h1>
        <p>This is your personalized dashboard.</p>
        <!-- Add your dashboard content here -->
   
    </div>



{% endblock %}

<!-------git merge -s recursive -X theirs -->