{% extends 'base.html' %}
{% load static %}

{% block title %}Preferences{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'user/css/preferences.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/base.css' %}">
    
{% endblock %}

{% block content %}
    <h1>Preferences</h1>
    <form method="post" action="{% url 'preferences' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="option1">Email Notifications</label>
            <input type="checkbox" id="option1" name="option1">
        </div>
        <div class="form-group">
            <label for="option2">Text Notifcations</label>
            <input type="checkbox" id="option2" name="option2">
        </div>
        <div class="form-group">
            <label for="option3">Weekly Sneaker Newsletter</label>
            <input type="checkbox" id="option3" name="option3">
        </div>
        <input type="submit" value="Save Preferences" class="btn btn-primary">
    </form>
{% endblock %}
