{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/base.css' %}">
   
{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1 class="profile-title">Profile</h1>
        <div class="profile-info">
            <h2 class="profile-username">{{ user.username }}</h2>
            <p class="profile-email">Email: {{ user.email }}</p>
              <!-- more profile information here -->

            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
            {% endif %}
        </div>
    </div>
{% endblock %}
