{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/base.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1 class="profile-title">Profile</h1>
        <div class="profile-info">
            <h2 class="profile-username">{{ user.username }}</h2>
            <p class="profile-email">Email: {{ user.email }}</p>
            
            <!-- UserProfileForm for updating profile details -->
            <form method="post">
                {% csrf_token %}
                {{ profile_form.as_p }}
                <input type="submit" value="Update Profile">
            </form>

            <!-- Display profile picture -->
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
            {% else %}
                <p>No profile picture uploaded yet.</p>
            {% endif %}
            
            <!-- Form for uploading profile picture -->
            <form method="post" action="{% url 'upload_profile_picture' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_profile_picture">Upload Profile Picture:</label>
                    <input type="file" id="id_profile_picture" name="profile_picture" accept="image/*" required>
                </div>
                <input type="submit" value="Upload" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}
