/* styles.css */

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Hero Section */
.hero {
    background-image: url('/static/user/images/home.jpg');
    background-color: #000000;
    color: #fff;
    padding: 200px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   

}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #FDD017
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #FDD017
}

.hero .btn-primary {
    display: inline-block;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: rgb(255, 0, 0);
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.hero .btn-primary:hover {
    background-color: rgb(255, 0, 0);
    color: #FDD017
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.feature {
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

.feature i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #E60100;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #555;
}
