.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

login-form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}





.login-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 10px solid #ccc;
    border-radius: 40px;
}

.btn-primary {
    display: block;
    width: 97%;
    padding: 10px;
    border: none;
    border-radius: 40px;
    background-color: #0073ff;
    color: #fff;
    cursor: pointer;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}