black==23.3.0
coverage==7.2.5
dj-database-url==1.3.0
Django==4.2
djangorestframework==3.14.0
django-cors-headers==3.14.0
django-allauth==0.54.0
dj-rest-auth==3.0.0
factory-boy==3.2.1
gunicorn==20.1.0
isort==5.12.0
Pillow==9.5.0
pre-commit==3.3.2
PyYAML==6.0
python-dotenv==1.0.0
ruff==0.0.267
uritemplate==4.1.1

if you want to copy and paste to install the required dependecies :

pip install django-cors-headers
pip install dj-database-url
pip install python-dotenv
pip install djangorestframework
pip install factory-boy
pip install django-allauth
pip install dj-rest-auth
pip install django black
pip install django-storages
pip install django google-cloud-storage
pip install django gunicorn
pip install isort
pip install django Pillow
pip intsall django ruff
pip install django uritemplate
