.product-detail-container {
    display: flex;
    align-items: flex-start; 
    justify-content: space-around;
    margin-top: 2em;
}

.product-details p {
font-size: 1.2em;
margin-bottom: 0.5em; 
color: #555;
font-weight: bold; 

}


.product-image img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-details {
    max-width: 40%;
    padding: 0 2em;
    margin-top: 2em; 
}

.product-details h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #333; 
}

.product-details p {
    font-size: 1.2em;
    margin-bottom: 1em; 
    color: #555; 
}


.reviews-section {
    margin-top: 2em;
}

.add-to-cart-btn {
    padding: 1em 2em;
    margin-top: 1em; 
    background-color: rgb(255, 0, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase; 
    font-weight: bold; 
}

.back-to-products-btn {
    padding: 1em 2em;
    margin-top: 1em; 
    background-color: rgb(255, 0, 0); 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase; 
    font-weight: bold; 
}
.add-to-wishlist-btn {
    padding: 1em 2em;
    margin-top: 1em; 
    background-color: rgb(255, 0, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase; 
    font-weight: bold; 


}

.star-rating {
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
}

.star-rating .fa-star {
    transition: color 0.2s;
}

.star-rating .fa-star:hover,
.star-rating .fa-star.active {
    color: #f8ce0b;
}